<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://localhost" exactDestination="true" />
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="Access-Control-Allow-Origin" value="http://localhost:8081" />         
			</customHeaders>
		</httpProtocol>
    </system.webServer>
</configuration>
